
.map iframe{
    height: 450px;  
    width: 100%;   
    border: 0;
}
.form-section {
    padding: 20px;

    margin-bottom: 20px;
    
}
.infomation_list {
    display: flex;
}
.infomation_inner {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: black;
}
.infomation_inner:hover,.infomation_text:hover{
    color: #f6780a
}
.infomation_svg {
    font-size: 24px;
}
h3{
    font-size: 20px;
    font-weight: bold;
}
.info-section i {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 10px;
}
.info-section p, .info-section a {
    display: inline-block;
    margin: 0;
}
.info-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}



.infomation_svg {
    margin-right: 10px;
}

.infomation_text {
    margin: 0;
}
.infomation_text a{
    color: black;
}
.infomation_text a:hover{
    color: #f6780a;
}
button{
    background-color: #f6780a;
    color: white;
    padding: 12px 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
}
/* trang video*/
    .description{
        font-size: 12px;
        color: rgb(98, 98, 98);
    }
    .video-container {
      margin-bottom: 20px; 
    }
/*TRANG tin tức*/
   .item {
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.image-border {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    flex-grow: 1;
}

.image-border img {
    max-width: 100%;
    height: 300px;
}
@media only screen and (min-width: 640px) {
    .posts_list .cell {
        width: calc(100% / 3);
        float: left;
        box-sizing: border-box;
    }
}
.posts_list .cell {
    padding: 10px;
}
.posts_list .grid-x {
    margin-right: 0;
    margin-left: 0;
}
.cover-content {
    overflow-y: auto;
}
.posts_list .cell {
    height: 100%;
}
.cover-content h5 a{
    text-decoration: none;
    color: black;
   font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    text-transform: uppercase;;
    
}
/*  mô tả không bị tràn */
.cover-content p {
    color: rgb(83, 83, 83);
    font-size: 18px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Kéo dài icon xem chi tiết xuống dưới cùng */
.view-more {
    margin-top: auto;
}
/* buns*/
.product-list {
    margin-top: -100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.cell {
    padding: 10px;
    text-align: center;
}

.product-img {
    max-width: 100%;
    height: 250px;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.cell:hover .product-img {
    transform: scale(1.1);
    /* Phóng to hình ảnh khi hover */
}

.product-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    color: #F6780A;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Hiệu ứng hover cho nút */
.add-to-cart {
    background: linear-gradient(135deg, transparent 50%, orange 50%);
    background-size: 200% 200%;
    background-position: top left;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    transition: color 0.5s, background-position 0.5s;
    position: relative;
    overflow: hidden;
}

.add-to-cart:hover {
    color: white;
    background-position: bottom right;
}