/*nav*/
.header {
  width: 100%;
  background-color: #FCF8F0;
}

.navbar {
  position: fixed;
  background-color: #FCF8F0;
  z-index: 1000;
  width: 100%;
  left: 0;
  right: 0;
}

.navbar-logo {
  width: 200px;
  height: auto;
  margin-right: 10px;
}

.navbar-nav .nav-link,
.navbar-toggler,
.nav-icon {
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}

.navbar-nav .nav-item .nav-link:hover,
.nav-icon:hover,
.carousel-item h5 a:hover {
  color: orange;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" fill="none"%3E%3C/path%3E%3C/svg%3E');
}

.header .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}
.navbar-nav.mx-auto > li {
  margin-right: 25px; 
}

.header .dropdown-menu a {
  color: #333;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.header .dropdown-menu a:hover {
  background-color: #f2f2f2;
}

.header .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  
}

/* */
@font-face {
  font-family: 'Great Vibes';
  src: url('../fonts/Great_Vibes/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/static/WorkSans-SemiBold.ttf');
}

.banner .sub-title {
  font-family: 'Great Vibes';
  font-size: 65px;
  color: #F9A747;
  margin-top: 60px;
  margin-bottom: 20px;
}

.banner .heading-title {
  font-family: "Work Sans", sans-serif;
  font-size: 45px;
  color: #F9A747;
}

.banner .text {
  font-size: 18px;
  color: rgb(90, 89, 89);
}

.custom-img {
  width: 100%;
  height: 80%;
  margin-top: 40px;
  margin-bottom: 50px;
}

.image-container {
  position: relative;
  padding-top: 40px;
  padding-left: 50px;
}

.image-container::before {
  content: '';
  position: absolute;
  bottom: -80px;
  left: -96px;
  background-image: url(../images/home/nen.png);
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 50%;
}

/* danh mục sp*/
.title h3 {
  padding-top: 90px;
  color: #fff;
  text-align: center;
  z-index: 100;
  position: relative;
}

.menu {
  background-image: url(../images/home/nen2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  margin-top: 20px;
  position: relative;

}

.menu::after {
  position: absolute;
  content: "";
  background: #000;
  opacity: 0.5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.menu .owl-menu {
  margin-top: 50px;
}

.menu .owl-menu .owl-item .item h5 {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.menu .owl-menu .owl-nav {
  display: none;
}
.item img {
  transition: transform 0.3s ease;
  }
  
  .item:hover img {
    transform: scale(1.1); 
  }
  
.menu .owl-menu .owl-dots {
  margin: 20px auto;
  text-align: center;
}

.menu .owl-menu .owl-dots .owl-dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 0px 3px;
}

.menu .owl-menu .owl-dots .owl-dot.active {
  background-color: orange;
}
.view-all-all {
  width: 130px;
  height: 40px;
  margin: 35px 500px;
  background: linear-gradient(135deg, transparent 50%, orange 50%);
  background-size: 200% 200%;
  background-position: top left;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px 25px;
  transition: color 0.5s, background-position 0.5s;
  overflow: hidden;
  z-index: 100;
  position: relative;
}
.view-all-all a {
  color: #ffffff;
  text-decoration: none;
}
.view-all-all:hover {
  background-position: bottom right;
}
.view-all-a:hover a {
  color: white;
}

/*sp nổi bật*/
.owl-menu{
  margin-top: -60px;
}
.menu-items {
  background-color: #FCF8F0;
  height: 800px;
  overflow-x: hidden; 
}
.bread-title {
  font-weight: 500;
  font-size: 160px;
  line-height: 115px;
  letter-spacing: 0.1em;
  color: #F7F1E5;
  white-space: nowrap;
}

.sub-title h3 {
  padding: 60px 0;
  color: #F9A747;
  text-align: center;
}
.sub-title h3::before{
    background: url(../images/home/la.png) no-repeat;
    width: 187px;
    height: 98px;
    background-size: contain;
    left: -3.5%;

}
.sub-title h3:after {
  background: url(../images/home/ot.png) no-repeat;
  width: 154px;
  height: 195px;
  background-size: contain;
  right: 4%;
  margin-top:-40px;
}
.sub-title h3::after, .sub-title h3::before {
  position: absolute;
  content: "";
}
.menu-items .item-pro h6 a:hover {
  color: #F9A747;
}

.menu-items .item-pro h6 a{
  font-size: 15px;
  color: #000;
  text-decoration: none;
}

.menu-items .item-pro p {
  color: #F9A747;
  font-size: 16px;
}
.item-pro img { /*làm cho hình nổi lêng */
  transition: transform 0.3s ease;
}

.item-pro:hover img {
  transform: scale(1.1);
  z-index: 1;
}


.menu-items .owl-menu .owl-nav {
  display: none;
}

.menu-items .owl-menu .owl-dots {
  padding-bottom: 50px;
  margin: 20px auto;
  text-align: center;
}

.menu-items .owl-menu .owl-dots .owl-dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 0px 3px;
}

.menu-items .owl-menu .owl-dots .owl-dot.active {
  background-color: orange;
}

.add-to-cart {
  width: 190px;
  background: linear-gradient(135deg, transparent 50%, orange 50%);
  background-size: 200% 200%;
  background-position: top left;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  transition: color 0.5s, background-position 0.5s;
  position: relative;
  overflow: hidden;
}

.add-to-cart:hover {
  color: white;
  background-position: bottom right;
}
/* đánh giá*/
.product-img {
  max-width: 100%;
  height: auto;
  
}

.feedback {
  background-color: #FCF8F0;
  margin-top: -50px;
  margin-bottom: 30px;
}

.feedback .title {
  color: #F9A747;
  padding: 20px 0;
}

.feedback .cmt {
  color: rgb(0, 0, 0);
}
.feedback .carousel-control-prev, .feedback .carousel-control-next {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 45px;
  border: 1px solid #000;
}
.hb_swiper_icon {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: #F9A747;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.hb_swiper_icon img {
  width: 30px;
}

.carousel-item .img-feedback {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* góc ẩm thực*/
.carousel-item {
  position: relative;
}

.carousel-item .img-fluid {
  width: 100%;
  height: 60%;
  background: #ffffff;
  border: 1px solid #D9D9D9;
  top: 9px;
  left: 9px;
}

.carousel-item .img-fluid {
  width: 100%;
  height: 280px;
  background: #ffffff;
  border: 1px solid #D9D9D9;
  top: 9px;
  left: 9px;
}

.carousel-item .content-box {
  border: 1px solid #D9D9D9;
  margin-top: 10px;
  background: #ffffff;
}

.carousel-item .content-box h5 {
  border-top: none;
  padding: 10px;
  margin: 0;
}

.carousel-item .content-box p.excerpt {
  color: rgb(83, 83, 83);
  font-size: 18px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.view-all {
  width: 130px;
  height: 40px;
  margin: 35px 550px;
  background: linear-gradient(135deg, transparent 50%, orange 50%);
  background-size: 200% 200%;
  background-position: top left;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 25px;
  transition: color 0.5s, background-position 0.5s;
  overflow: hidden;
}

.view-all a,
.view-all-a a {
  color: #000;
  text-decoration: none;
}

.view-all:hover,
.view-all-a:hover {
  background-position: bottom right;
}

.view-all:hover a,
.view-all-a:hover a {
  color: white;
}

.view-all-a {
  width: 130px;
  height: 40px;
  margin: -40px 550px;
  background: linear-gradient(135deg, transparent 50%, orange 50%);
  background-size: 200% 200%;
  background-position: top left;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 25px;
  transition: color 0.5s, background-position 0.5s;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}


/* Hiệu ứng animate cho tiêu đề */
.sub-title h2 {
  color: #F9A747;
  text-align: center;
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*animate cho các slide */
.carousel-item {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.carousel-item h5 a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.des p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 250px;
  border: 1px solid #000;
}

.icon {
  color: #000000;
}
.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-box a,.cover-content a {
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.content-box a:hover,.cover-content a:hover {
  color:pink
}
/*video */
.hb_video_languges {
  position: relative;
  width: 100%;
  padding-top: 50.25%;
}

.hb_video_languges iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

/*footer*/
.footer {
  background-image: url(../images/home/footer.jpeg);
  background-size: 100% 100%;
  color: #FCF8F0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.footer-logo {
  width: 205px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-lg {
  width: 170px;
  height: auto;
  margin: 20px 0px;
}

.footer-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer ul {
  list-style-type: none;
  /* Loại bỏ chấm tròn */
  padding: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer li a {
  color: white;
  text-decoration: none;
  /* Loại bỏ gạch chân */
}

.footer li a:hover {
  color: black;
}

.copyright {
  border-top: 1px solid #fff;
  padding: 10px 0px;
  margin-top:20px;
}
.copyright p{
  margin-bottom:0px;
}

.hb_social {
  display: flex;
  margin-left: 75px;
}

.hb_social li {
  margin-right: 10px;
}

.hb_social li a {
  font-size: 18px;
  background-color: #f6780a;
  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
}

.hb_social li a:hover {
  background-color: white;
  color: #f6780a;
}

.hb_social li:last-child {
  margin-right: 0;
}

.cs li a:hover {
  color: black;
}

.form .input {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid white;
  color: #fff;
}

.form .button {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #f6780a;
  border: 1px solid white;
  color: #fff;
}
.form .button:hover{
  color: #f6780a;
  background-color: #fff;
}
/*trang products*/
.product {
  margin: 30px 0;
}
.product .product-title {
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
.product .product-title::after {
  position: absolute;
  content: "";
  width: 112px;
  height: 5px;
  background: #FFC600;
  left: 0;
  bottom: 0;
}

.list-product {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.list-product li {
  flex: 1 0 25%;
  text-align: center;
}

.list-product li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border: 1px solid #F57C13;
  margin: 5px;
}

.list-product li a:hover {
  color: white;
  background-color:#F57C13;
}