/*nav*/
.header {
  width: 100%;
  background-color: #FCF8F0;
}
.navbar {
  position: fixed;
  background-color: #FCF8F0;
  z-index: 1000; 
  width: 100%;
  left: 0; 
  right: 0; 
}

.navbar-logo {
  width: 200px; 
  height: auto; 
  margin-right: 10px; 
}
.navbar-nav .nav-link, .navbar-toggler, .nav-icon {
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}

.navbar-nav .nav-item .nav-link:hover, .nav-icon:hover,.carousel-item h5 a:hover {
  color: orange;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" fill="none"%3E%3C/path%3E%3C/svg%3E');
}
.header .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.header .dropdown-menu a {
  color: #333;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.header .dropdown-menu a:hover {
  background-color: #f2f2f2;
}

.header .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* */
@font-face { font-family: 'Great Vibes';src: url('../fonts/Great_Vibes/GreatVibes-Regular.ttf') format('truetype');}
@font-face { font-family: 'Work Sans';src: url('../fonts/static/WorkSans-SemiBold.ttf') ;}
.banner .sub-title {
  font-family: 'Great Vibes';
  font-size: 65px;
  color: #F9A747;
  margin-top: 60px;
  margin-bottom: 20px;
}
.banner .heading-title{
  font-family: "Work Sans", sans-serif;
  font-size: 45px;
  color: #F9A747;
}
.banner .text{
  font-size: 18px;
  color: rgb(90, 89, 89);
}
.custom-img{
  width: 100%;
  height: 80%;
  margin-top: 40px;
  margin-bottom: 50px;
}
.image-container {
  position: relative;
  padding-top: 40px;
  padding-left: 50px;
}

.image-container::before {
  content:'';
  position: absolute;
  bottom: -80px;
  left: -96px;
  background-image: url(../images/nen.png);
  width: 100%;
  height:100%;
  z-index: -1;
  background-size: 50%;
}
/* danh mục sp*/
.title h3{
  margin: 20px 0;
  color: #fff;
  text-align: center;
  background: #464646;
}
.menu{
  background-image: url(../images/nen2.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; 
  margin-top: 20px;
}
.menu .owl-menu::before{
  position: absolute;
  content: "";
  background: #000;
  opacity: 0.5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.menu .owl-menu {
  margin-top: 50px;
}
.menu .owl-menu .owl-item .item h5 {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.menu .owl-menu .owl-nav {
  display: none;
}
.menu .owl-menu .owl-dots {
  margin: 20px auto;
  text-align: center;
}
.menu .owl-menu .owl-dots .owl-dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 0px 3px;
}

.menu .owl-menu .owl-dots .owl-dot.active {
  background-color: orange;
}
/*sp nổi bật*/
.menu-items{
  background-color: #FCF8F0;
}
.sub-title h3{
  padding: 50px 0;
  color: #F9A747;
  text-align: center;
}
.menu-items .item-pro h6:hover {
  color: #F9A747;
}
.menu-items .item-pro h6{
  font-size: 15px;
}
.menu-items .item-pro p {
  color: #F9A747;
  font-size: 16px; 
}

.menu-items .owl-menu .owl-nav {
  display: none;
}
.menu-items .owl-menu .owl-dots {
  padding-bottom: 50px;
  margin: 20px auto;
  text-align: center;
}
.menu-items .owl-menu .owl-dots .owl-dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 0px 3px;
}

.menu-items .owl-menu .owl-dots .owl-dot.active {
  background-color: orange;
}
.menu-items .owl-menu .button {
  color: #000;
  border: 1px solid #000 !important;
  text-decoration: none;
  display: block !important;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
}
.menu-items .owl-menu .button:hover {
  background-color: #F6780A;
  color: #ffffff;
}
.menu-items .owl-menu .button span {
  display: flex;
  align-items: center; 
  justify-content: center; 
  font-weight: 500;
}
/* đánh giá*/
.product-img {
  max-width: 100%;
  height: auto;
}
.feedback{
  background-color: #FCF8F0;
  margin-top: -50px;
}
.feedback .title{
  color: #F9A747;
  padding: 20px 0;
}
.feedback .cmt{
margin-left: -6px;
color: rgb(90, 89, 89);
}
.hb_swiper_icon {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: #F9A747;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.hb_swiper_icon img{
  width: 30px;
}
/* góc ẩm thực*/
  .carousel-item {
      text-align: center;
      position: relative;
  }
  .carousel-item .img-fluid {
      width: 100%;
      height: 60%;
      background: #ffffff;
      border: 1px solid #D9D9D9;
      top: 9px;
      left: 9px;
  }
  .carousel-item {
    text-align: center;
    position: relative;
}
.carousel-item .img-fluid {
    width: 100%;
    height: 280px;
    background: #ffffff;
    border: 1px solid #D9D9D9;
    top: 9px;
    left: 9px;
}
.carousel-item .content-box {
    border: 1px solid #D9D9D9;
    margin-top: 10px;
    background: #ffffff;
}
.carousel-item .content-box h5 {
    border-top: none;
    padding: 10px;
    margin: 0;
}
.carousel-item .content-box p.excerpt {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}
.sub-title h2 {
    color: #F9A747;
    text-align: center;
    
}
.carousel-item h5 a {
  font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.des p{
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
/*video */
.hb_video_languges {
  position: relative;
  width: 100%;
  padding-top: 50.25%; 
}
.hb_video_languges iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
} 
/*footer*/
.footer {
  background-image: url(../images/footer.jpeg);
  background-size: 100% 100%;
  color:#FCF8F0;
  text-align: center;
  position: relative;
  z-index: 1;
}
.footer-logo {
  width: 205px; 
  height: auto; 
  margin-top: 20px;
  margin-bottom: 20px; 
}
.footer-lg {
  width: 170px; 
  height: auto; 
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px; 
}
.footer-title {
  margin-top: 20px;
  margin-bottom: 20px; 
}
.footer ul {
  list-style-type: none; /* Loại bỏ chấm tròn */
  padding: 0; 
}

.footer ul li {
  margin-bottom: 5px; 
}

.footer li a {
  color: white; 
  text-decoration: none; /* Loại bỏ gạch chân */
}
.footer li a:hover {
  color: black;
}
.copyright{
  border-top: 1px solid #fff;
}
.hb_social {
  display: flex;
  margin-left: 75px;
}

.hb_social li {
  margin-right: 10px; 
}
.hb_social li a {
  font-size: 18px;
  background-color:#f6780a; 
  border-radius: 50%; 
  border: 1px solid white; 
  padding: 10px; 
  display: inline-flex; 
  justify-content: center; 
}
.hb_social li a:hover {
  background-color: white;
  color: #f6780a;
}
.hb_social li:last-child {
  margin-right: 0;
}
.cs li a:hover{
  color: black;
}
.form .input{
  border-radius: 20px; 
  padding: 10px;
  border: 1px solid white; 
  color: #fff;
}

.form .button {
  border-radius: 20px; 
  padding: 10px 20px; 
  background-color: #f6780a;
  border: 1px solid white; 
  color: #fff;
}

